@page
@model HoopDreams.Pages.Coaches.AlexHozaModel
@{
    ViewData["Title"] = "Alex Hoza";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HoopDreams</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/coach.css" />
</head>
<body>
    <div>
        <img src="/Images/AlexCoach.jpg" class="coach matei" alt="Alex Hoza" />
    </div>

    <div>
        <h1>Alex Hoza</h1>
        <div class="description">
            <p>
                <strong>Alex Hoza</strong>
                s-a născut la 1 august 2001 în Cluj-Napoca. Este absolvent al Universității Babeș-Bolyai din Cluj-Napoca, Facultatea de Educație Fizică și Sport, specializarea Sport și Performanță Motrică, urmând în prezent studiile de master în cadrul aceleiași facultăți, la specializarea Managementul Organizațiilor și Activităților Sportive.
            </p>
            <p>
                Este unul dintre fondatorii acestei asociații sportive și deține licența C de antrenor emisă de Federația Română de Baschet. În plus, este certificat ca Instructor de fitness – nivel 2 (SC ABC FITNESS SRL) și deține Certificatul de calificare – nivel 4 Instructor Sportiv.
            </p>
            <p>
                Cariera sa sportivă a început ca jucător, activând timp de 9 ani la grupele de junioare ale clubului ACS U-BT Cluj-Napoca, unde a obținut două medalii de bronz la Campionatul Național de Baschet U14 și U16 (2015 și 2017). Experiența ca antrenor a fost consolidată prin doi ani de voluntariat în cadrul aceluiași club, ACS U-BT Cluj-Napoca.
            </p>
            <p>
                Pasiunea pentru baschet l-a însoțit încă din copilărie și l-a ajutat să se formeze ca persoană prin disciplină, fair-play și spirit de sacrificiu. Din această experiență a luat naștere dorința de a deveni antrenor și de a transmite mai departe aceleași valori generațiilor tinere. Scopul său este de a construi un mediu în care copiii și tinerii să descopere frumusețea baschetului, să învețe lecții de viață prin sport și să fie încurajați să viseze și să-și urmeze aspirațiile.
            </p>
            <p>
                Prin dedicarea sa, nu doar antrenează sportivi, ci formează caractere, contribuind la dezvoltarea unei comunități unite prin dragostea pentru baschet.
            </p>
        </div>
    </div>
</body>
</html>
