@page
@model HoopDreams.Pages.OurStoryModel
@{
    ViewData["Title"] = "";
}
<div>
    <h1>Alex Hoza</h1>
    <div class="description">
        <p>
            <strong>HOOP DREAMS CLUJ-NAPOCA</strong> este un club de baschet fondat în anul 2025, din pasiune pentru jocul care inspiră vise, determinare și spirit de echipă. 
        <p>
            Misiunea noastră este să formăm o nouă generație de sportivi dedicați, care să descopere bucuria baschetului și să își atingă potențialul maxim – pe teren și în afara lui.
        </p>
        <p>
            La HOOP DREAMS, credem că fiecare vis începe cu o aruncare — iar prin muncă, disciplină și susținere reciprocă, orice vis poate deveni realitate. Ne adresăm copiilor, adolescenților și tinerilor care vor să învețe, să se perfecționeze și să joace într-un mediu modern, sigur și plin de energie pozitivă.
        </p>

        <p>
            Echipa noastră de antrenori combina experiența cu entuziasmul, punând accent pe dezvoltarea tehnicii individuale, spiritului de echipă și valorilor fundamentale ale sportului: respect, fair-play și perseverență.
        </p>

        <p>
            <strong>HOOP DREAMS CLUJ-NAPOCA</strong> – acolo unde visul prinde contur, iar pasiunea pentru baschet devine stil de viață.
        </p>
    </div>
</div>