@page
@model HoopDreams.Pages.SuccessModel
@{

}
<h2>Mulțumim pentru înregistrare!</h2>
<p>Am primit datele dumneavoastra și te vom contacta în curând.</p>
<a asp-page="/RegisterForm">Înapoi la formular</a>
